<span class="red">Hi there!</span>

<p>
  You may know me from <a href="http://curry-on.org">Curry On</a>. Or the popular Scala MOOCs on Coursera.
</p>

<p>
  <i>Note:</i> Due to the many hats I tend to wear, between the non-profit Scala
  Center, academic research, open source, MOOCs (over 400,000 students to date!),
  conference organization, and more, I tend to receive an inordinate amount of
  email. For critical emails, I try hard to reply in a timely manner, but sometimes
  I'm unable to despite my best intentions. If something critical slips through
  the cracks, don't be afraid to send me a follow-up email (or two). For non-critical
  requests, please be patient, replies can take quite some time. Apologies in advance.
</p>
