{% assign count = 0 %}
{% for post in site.posts %}
  {% if post.isconference %}
  {% assign count = count | plus: 1 %}
    <div class="row" style="padding-bottom: 28px;">
      <div class="publication">
<!--           <div class="pdf col-md-1">
            {% if post.pdf %}<a href="{{ post.pdf }}"><img src="{{ site.baseurl }}/resources/img/pdf.png"/></a>
            {% else %}<img src="{{ site.baseurl }}/resources/img/no-pdf.png"/>
            {% endif %}
          </div> -->
          <div class="info col-md-9" style="padding-right: 0px;">
            {% if post.pdf %}<div class="title"><a href="{{ post.pdf }}">{{ post.title }}</a></div>
            {% else %}<div class="title">{{ post.title }}.</div>{% endif %}
            <div class="author">{{ post.authors }}.</div>
            {% if post.undersubmission %}
            {% else %}<div class="conference">{{ post.conference }}.</div>
            {% endif %}
            <!-- <div class="location">{{ post.location }}, </div> -->
            <!-- <div class="date">{{ post.date | date: "%B %Y" }}.</div> -->
            {% if post.undersubmission %}<div class="note">Under Submission.</div>{% endif %}
            {% if post.abstract %}
            <span class="abstract collapsed" data-toggle="collapse" data-target="#abstract-{{ count }}">
              <div class="entypo"></div>abstract
            </span>
            {% if post.pdf %}<a href="{{ post.pdf }}" class="icon blue-tooltip" data-toggle="tooltip" data-placement="bottom" title="Paper PDF"><span class="icon-file-pdf" data-toggle="tooltip" data-placement="bottom"></span></a>{% endif %}
            {% if post.slides %}<a href="{{ post.slides }}" class="icon blue-tooltip" data-toggle="tooltip" data-placement="bottom" title="Slides"><span class="icon-presentation"></span></a>{% endif %}
            <div id="abstract-{{ count }}" class="collapse abstract-text">
              {{ post.abstract }}
            </div>
            {% endif %}
          </div>
          <div class="abbr col-md-3">
            {% if post.undersubmission %}
            {% else %}<div class="abbrv"><b>{{ post.abbrv }} {{post.date | date: "%Y"}}</b></div>
            {% endif %}
          </div>
      </div>
    </div>
  {% endif %}
{% endfor %}