<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="circular heather"></div>
        <img style="height: 32px;" src="/resources/img/neu.svg">
        <br><img style="height: 32px;" src="/resources/img/epfl.svg">
      </div>
      <div class="column">
        <span id="contact" class="list-head">Where to find me?</span>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-university"></i>
            Northeastern University
            <br>College of Computer & Information Science
            <br>440 Huntington Ave,
            <br>328 West Village H (Building 23H)
            <br>Boston, MA 02115, USA
          </li>
          <li><i class="fa-li fa fa-envelope"></i>
            <a href="mailto:heather@ccs.neu.edu">heather@ccs.neu.edu</a>
          </li>
          <li><i class="fa-li fa fa-phone"></i>
            +1 (646) 301-1825
            <br><i class="em em-flag-um"></i>
          </li>
          <br>
        </ul>
      </div>
      <div class="column">
        <span class="list-head">&nbsp;</span>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-university"></i>
            EPFL SI SCALA
            <br>INR 329 (Bâtiment INR)
            <br>Station 14
            <br>1015 Lausanne
            <br>Switzerland
          </li>
          <li><i class="fa-li fa fa-envelope"></i>
            <a href="mailto:heather.miller@epfl.ch">heather.miller@epfl.ch</a>
          </li>
          <li><i class="fa-li fa fa-phone"></i>
            +41 78 625 20 23
            <br><i class="em em-flag-ch"></i>
          </li>
        </ul>
      </div>
      <div class="column">
        <span class="list-head">On the interwebs...</span>
        <ul class="fa-ul">
          <li><i class="fa-li fab fa-twitter"></i><a href="https://twitter.com/heathercmiller">@heathercmiller</a></li>
          <li><i class="fa-li fab fa-github"></i><a href="https://github.com/heathermiller">heathermiller</a></li>
        </ul>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>&nbsp;</p>
      <p>
        Copyright © 2010-<span class="current-year"></span> Heather Miller (Klug)
      </p>
    </div>
  </div>
</footer>

<script src="resources/js/vendor/retina.js"></script>

</body>

</html>
