<!DOCTYPE html>
<html lang="en">

<head>

  <title>Heather Miller</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="/resources/favicon.ico">
  <link rel="shortcut icon" type="image/png" href="/resources/favicon.ico">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/resources/js/vendor/fontawesome-all.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.css"> -->
  <script src="{{ site.baseurl }}/resources/js/vendor/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.3.0/dist/bootstrap-toc.min.js"></script>
  <script src="{{ site.baseurl }}/resources/js/custom.js"></script>

  <link rel="stylesheet" href="https://use.typekit.net/fhu1dvg.css">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/emoji.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/custom-bulma.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/custom.css" type="text/css" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-574683-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-574683-2');
  </script>
</head>

<body data-spy="scroll" data-target="#toc">
