<nav id="entireNavbar" class="navbar is-fixed-top">
  <div id="specialShadow" class="bd-special-shadow" style="opacity: 1; transform: scaleY(1);"></div>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="{{ site.baseurl }}/">
        <img src="/resources/img/gator.svg">&nbsp;<span class="heather">HEATHER</span>&thinsp;<span class="miller">MILLER</span>
      </a>

      <div id="navbarBurger" class="navbar-burger burger" data-target="navBar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navBar" class="navbar-menu">
      <div class="navbar-start">
        <!--Nothing here right now-->
      </div>

      <div class="navbar-end navbar-text">
        <!-- <a class="navbar-item" href="https://bulma.io/"><span class="topbar-item">Blog</span></a> -->
        <a class="navbar-item" href="{{ site.baseurl }}/publications.html"><span class="topbar-item">Publications</span></a>
        <a class="navbar-item" href="#"><span class="topbar-item">Research</span></a>
        <a class="navbar-item" href="#service"><span class="topbar-item">Service</span></a>
        <!-- <div class="navbar-item has-dropdown is-hoverable"> -->
        <a class="navbar-item" href="#teaching"><span class="topbar-item">Teaching</span></a>
          <!-- <a class="navbar-link" href="#teaching"><span class="topbar-item">Teaching</span></a> -->
          <!-- <div class="navbar-dropdown">
            <div class="navbar-item header">Current Semester</div>
            <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">Modifiers</a>
            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">Columns</a>
            <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">Layout</a>
            <a class="navbar-item" href="https://bulma.io/documentation/form/general/">Form</a>
            <hr class="navbar-divider">
            <div class="navbar-item header">Previous Semesters</div>
            <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">Elements</a>
            <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">Components</a>
          </div> -->
        <!-- </div> -->
        <a class="navbar-item" href="#contact"><span class="topbar-item">Contact</span></a>
        <a class="navbar-item" href="https://github.com/heathermiller/cv/blob/master/cv.pdf?raw=true"><span class="topbar-item">CV</span></a>
        <a class="navbar-item" href="https://twitter.com/heathercmiller"><span class="topbar-item"><i class="fab fa-twitter"></i></span></a>
      </div>
    </div>
  </div>
</nav>
