---
---

@import "utilities/initial-variables";
@import "utilities/functions";

$gray-text: #485a70;
$muted-red: #f83035;
$dark-pink: #e6375a;
$gator-pink: #e052a0;
$gator-orange: #f15d40;
$bluish-black: #283142;
$almost-black: #171f2d;
$light-blue-gray: #f1f8fc;
$blue-gray: #7e97ad;
$dark-blue-bg: #0d2439;
$lighter-blue-bg: #1f364d;
$border-gray: transparentize($gray-text, 0.7);
// --start: hsl(340, 55%, 45%);
// --end: hsl(280, 45%, 55%);

$base-duration: 350ms;
$base-timing: ease;
$base-transition: all $base-duration $base-timing;

$highlight-gradient: linear-gradient(135deg, $gator-pink, $gator-orange);

html {
  background: $dark-blue-bg;
}

* {
  transition: $base-transition;
}

body {
  color: $blue-gray;
  font-weight: 400;
}

code, pre {
  font-family: "Fira Code", monospace;
}

div.highlighter-rouge {
  width:100% !important;
  position: relative;
  overflow-x: scroll;
}

code.highlighter-rouge {
    background-color: transparentize($white, 0.9);
    color: transparentize($white, 0.2);
    font-size: .875em;
    font-weight: normal;
    padding: 0em 0.25em 0em;
    border-radius: 2px;
}

.highlight {
  // width: 100%;
}

.highlight, pre.highlight {
  background-color: $almost-black;
}

.slogan {
  padding-top: 80px;
  padding-bottom: 80px;
  color: $white;
  font-size: $size-4;
  a {
    color: $white;
    border-bottom: solid 2px $dark-pink;
    &:hover,
    &.is-active {
      color: $gray-text;
    }
  }
}

.lighter-blue-bg-bar {
  background-color: $lighter-blue-bg;
  width: 100%;
  min-height: 200px;
}

.collaborators {
  a {
    color: $blue-gray;
    &:hover,
    &.is-active {
      color: $white;
      border-bottom: solid 2px $dark-pink;
    }
  }
}

.bd-special-shadow {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
  height: 8px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}

@media screen and (max-width: 1023px) {
  .bd-is-clipped-touch {
    overflow: hidden !important;
  }
}

.navbar-text {
  font-size: 14px;
  font-weight: 400;
}

.navbar, #navBar {
  background-color: $dark-blue-bg;
  .navbar-item, .navbar-link {
    color: #7e97ad;
    .topbar-item {
      border-bottom: solid 2px transparent;
    }
	&:hover,
	&.is-active {
     transition: all;
     background-color: transparent !important;
     color: $white;
     .topbar-item {
       border-bottom: solid 2px $dark-pink;
     }
	}
    a {
      &:hover,
      &.is-active {
        transition: all;
        background-color: transparent !important;
        color: $white;
        .topbar-item {
          border-bottom: solid 2px $dark-pink;
        }
      }
    }
    .navbar-link::after {
      border: 2px solid $dark-pink;
      border-right: 0;
      border-top: 0;
      content: " ";
      display: block;
      height: 0.5em;
      pointer-events: none;
      position: absolute;
      transform: rotate(-45deg);
      transform-origin: center;
      width: 0.5em;
      margin-top: -0.375em;
      right: 1.125em;
      top: 50%;
    }
    .header {
      font-weight: $weight-semibold;
      color: $gray-text;
    }
  }
  .navbar-logo {
    background-color: transparent !important;
  	&:hover,
  	&.is-active {
       background-color: transparent !important;
       color: $white;
  	}
  }
  .navbar-dropdown {
    border-top: 0;
    background-color: $dark-blue-bg;
  }
  .navbar-item.has-dropdown {
    &.is-active,
    &.is-hoverable:hover
      .navbar-link {
        background-color: transparent !important;
        color: $white;
      }
  }
  .navbar-divider {
    background-color: transparentize($gray-text, 0.85);
    height: 2px;
  }
}

.footer {
  background-color: $almost-black;
  color: $gray-text;
  font-weight: 400;
  a {
    color: $gray-text;
    &:hover,
    &.is-active {
      transition: all $base-duration;
      color: $white;
      border-bottom: solid 2px $dark-pink;
    }
  }
}

.main-content {
  background: $white;
  color: $gray-text;
//  font-weight: 400;
}

.light-blue-bar {
  background: $light-blue-gray;
  color: $gray-text;
}

.blue-bar {
  background: $bluish-black;
  color: #ffffff;
}

.heather, .miller, .small-title-above {
  font-family: "Source Sans Pro";
  color: white;
  font-size: 22px;
}
.heather {
  font-weight: 400;
  letter-spacing: -1px;
}

.miller, .small-title-above {
  font-weight: 800;
}

.small-title-above {
  color: transparentize(white, 0.5);
  text-transform: uppercase;
  margin-top: 1em;
}

.job {
  color: $gray-text;
  font-style: italic;
}

.list-head {
  color: $white;
  font-weight: bold;
}


.highlight-anim {
    position: relative;
    font-weight: 400;
    color: $white;
    // display: inline-block;
    padding: 0 calc(var(--gutter) / 4)
}
@-webkit-keyframes highlight__scaleIn {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}
@keyframes highlight__scaleIn {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}
.highlight-anim:before {
    content: "";
    position: absolute;
    top: 0em;
    right: 0;
    bottom: 0em;
    left: 0;
    background: $highlight-gradient;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation: highlight__scaleIn 1.5s cubic-bezier(.22, 1, .32, 1) .6s backwards;
    animation: highlight__scaleIn 1.5s cubic-bezier(.22, 1, .32, 1) .6s backwards
}
.highlight-anim:first-child:before {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}
.highlight__inner-anim {
    position: relative;
}

.circular {
  // margin-left: auto;
  // margin-right: auto;
  margin-bottom: 14px;
  width: 125px;
  height: 125px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  }


.circular.heather {
  background-image: url('{{ site.baseurl }}/resources/img/heather.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.heather {
    background-image: url('{{ site.baseurl }}/resources/img/heather@2x.png');
    background-size: 125px 125px;
  }
}

.large-white {
  font-size: $size-5;
  color: $white;
  line-height: 1.3em;
}

.at-a-glance-header {
  // text-align: center;
  color: $white;
  font-size: $size-4;
  font-weight: 700;
  margin-bottom: 16px;
  svg * {
      fill: url(#grad);
  }
}

.smaller {
  font-size: $size-6;
  color: $blue-gray;
  svg * {
      fill: $blue-gray;
  }
}

.service-table, .teaching, .publications {
  background-color: transparent !important;
  color: $blue-gray;
  tbody {
    border-color: $border-gray;
  }
  tr:hover {
    background-color: transparentize($gray-text, 0.8);
  }
  th, td {
    padding: 0.25em 0.75em;
    a {
      color: $blue-gray;
      border-bottom: solid 1px $dark-pink;
      &:hover,
      &.is-active {
        color: $white;
      }
    }
  }
  th {
    color: $blue-gray;
    border-color: $border-gray;
    .abbrv {
      color: $gray-text;
      font-weight: 400;
      font-style: italic;
      font-size: 14px;
      line-height: 1em;
    }
  }
  td {
    text-align: right;
    border-color: $border-gray;
  }
}

.teaching {
  tbody,
  tr,
  th,
  td {
    vertical-align: text-top;
    border: 0;
  }
  td {
    text-align: left;
    line-height: 1em;
  }
  th {
    a {
      color: $blue-gray;
      border-bottom: solid 2px $dark-pink;
      &:hover,
      &.is-active {
        color: $white;
      }
    }
  }
}

.teaching-head,
.publication-head {
  color: $white;
  font-weight: bold;
  font-size: $size-5;
}

.publication-head {
  color: $blue-gray;
}

.book-title {
  color: $white;
  font-weight: bold;
  font-size: $size-5;
}

.book-authors {
  color: $white;
  line-height: 1.2em;
  margin-bottom: 6px;
}

.book-text {
  color: $gray-text;
  line-height: 1.3em;
  margin-bottom: 4px;
}

.book-oa {
  a {
    color: $white;
    border-bottom: solid 2px $dark-pink;
    &:hover {
      color: $blue-gray;
    }
  }
}

.tag.mooc-label {
  background: linear-gradient(to right, $gator-pink, $gator-orange);
  color: $white;
  font-weight: bold;
  display: flex;
  width: 50px;
  height: 24px;
  // font-size: $size-6;
  // margin-top: -24px;
  // margin-bottom: -6px;
}

.sec-head {
  font-weight: bold;
  font-size: $size-4;
  color: $white;
  #service-heart * {
      fill: url(#grad);
  }
}

.subsec-head {
  font-weight: bold;
  font-size: $size-5;
  color: $white;
}

.ercs {
  a {
    color: $blue-gray;
    border-bottom: solid 1px $dark-pink;
    &:hover,
    &.is-active {
      color: $white;
    }
  }
}

.publication-button {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  height: 2em;
  border: 0px;
  color: $white;
  background: linear-gradient(to right, $gator-pink, $gator-orange);
  &:hover {
    color: rgba(255, 255, 255, 0.65);
    background: linear-gradient(to right, $gator-orange, $gator-pink);
  }
}

.publications {
  margin-top: 1em;
  tbody,
  tr,
  th,
  td {
    padding: 0;
    padding-right: 0.25em;
    padding-bottom: 1em;
    vertical-align: text-top;
    border: 0;
    &:hover {
      background: transparent;
    }
    a {
      border-bottom: 0px;
    }
  }
  td {
    text-align: left;
    line-height: 1em;
  }
  th {
    a {
      color: $blue-gray;
      border-bottom: solid 2px $dark-pink;
      &:hover,
      &.is-active {
        color: $white;
      }
    }
  }
}

.pub-title {
  font-weight: bold;
  color: $white;
  padding-bottom: 4px;
  a {
     color: $white;
     border-bottom: solid 2px $dark-pink;
     &:hover,
     &.is-active {
       color: $blue-gray;
     }
  }
}

.pub-authors,
.pub-conf-journal-name {
  font-size: 14px;
  line-height: 1em;
  padding-bottom: 4px;
}

.pub-conf-journal-name {
  font-weight: 300;
  font-style: italic;
  color: $gray-text;
}

.pub-conf-abbrv {
  font-weight: bold;
  color: $dark-pink;
}

.pub-meta {
  a {
    border-bottom: 0px;
  }
}

.tag.pub-tag {
  color: $white;
  font-weight: bold;
  background-color: $dark-pink;
  height: 1.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-right: 0.25em;
  &:hover {
    background-color: $gator-orange;
  }
}

$scalacenter-width: 42px;
$scalacenter-height: 60px;

#scalacenter {
    width: $scalacenter-width;
    height: $scalacenter-height;
    display: block;
    position: relative;
}

/*Initial image*/
 #scalacenter::before {
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image:url("{{ site.baseurl }}/resources/img/scalacenter.png");
    -webkit-transition: opacity 0.5s ease-in-out !important;
    -moz-transition: opacity 0.5s ease-in-out !important;
    -o-transition: opacity 0.5s ease-in-out !important;
    transition: opacity 0.5s ease-in-out !important;
    z-index:10;
}

#scalacenter:hover::before {
    opacity:0;
}

#scalacenter::after {
    content:"";
    background: url("{{ site.baseurl }}/resources/img/scalacenter-color.png");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #scalacenter::before {
    background-image: url('{{ site.baseurl }}/resources/img/scalacenter@2x.png');
    background-size: $scalacenter-width $scalacenter-height;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #scalacenter::after {
    background-image: url('{{ site.baseurl }}/resources/img/scalacenter-color@2x.png');
    background-size: $scalacenter-width $scalacenter-height;
  }
}

$scala-width: 78px;
$scala-height: 124px;

#scala {
    width: $scala-width;
    height: $scala-height;
    display: block;
    position: relative;
}

/*Initial image*/
 #scala::before {
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image:url("{{ site.baseurl }}/resources/img/scala.png");
    -webkit-transition: opacity 0.5s ease-in-out !important;
    -moz-transition: opacity 0.5s ease-in-out !important;
    -o-transition: opacity 0.5s ease-in-out !important;
    transition: opacity 0.5s ease-in-out !important;
    z-index:10;
}

#scala:hover::before {
    opacity:0;
}

#scala::after {
    content:"";
    background: url("{{ site.baseurl }}/resources/img/scala-color.png");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #scala::before {
    background-image: url('{{ site.baseurl }}/resources/img/scala@2x.png');
    background-size: $scala-width $scala-height;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #scala::after {
    background-image: url('{{ site.baseurl }}/resources/img/scala-color@2x.png');
    background-size: $scala-width $scala-height;
  }
}

$scala-sm-width: 14px;
$scala-sm-height: 22px;

#scala-sm {
    width: $scala-sm-width;
    height: $scala-sm-height;
    display: inline-flex;
    position: relative;
}

/*Initial image*/
 #scala-sm::before {
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image:url("{{ site.baseurl }}/resources/img/scala-sm.png");
    -webkit-transition: opacity 0.5s ease-in-out !important;
    -moz-transition: opacity 0.5s ease-in-out !important;
    -o-transition: opacity 0.5s ease-in-out !important;
    transition: opacity 0.5s ease-in-out !important;
    z-index:10;
}

#scala-sm:hover::before {
    opacity:0;
}

#scala-sm::after {
    content:"";
    background: url("{{ site.baseurl }}/resources/img/scala-sm-color.png");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #scala-sm::before {
    background-image: url('{{ site.baseurl }}/resources/img/scala-sm@2x.png');
    background-size: $scala-sm-width $scala-sm-height;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #scala-sm::after {
    background-image: url('{{ site.baseurl }}/resources/img/scala-sm-color@2x.png');
    background-size: $scala-sm-width $scala-sm-height;
  }
}


.white {
  color: $white;
}

.news,
.research,
.work {
  // color: $white;
  a {
    color: $white;
    border-bottom: solid 2px $dark-pink;
    &:hover,
    &.is-active {
      color: $gray-text;
    }
  }
}

.news {
  font-size: 1.2em;
}

.research {
  ul {
    margin-top: -8px;
    li {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.main {
  padding-top: 80px;
  padding-bottom: 60px;
  h1 {
    color: $white;
    font-size: 2em;
  }
  h2 {
    padding-top: 18px;
    font-size: 1.5em;
  }
}

.publication {
  padding-top: 18px;
  line-height: 1.25;
  .title {
    font-weight: $weight-bold;
    font-size: 1rem;
    color: $white;
    margin-bottom: 0px;
  }
  .under-submission {
    font-style: italic;
  }
  .venue {
    font-style: italic;
  }
  .abbrv {
    font-weight: $weight-bold;
    color: $dark-pink;
  }
  .article a,
  .source a {
    text-transform: uppercase;
    color: $dark-pink;
    font-size: .75rem;
    font-weight: $weight-bold;
    &:hover {
      color: $gator-orange;
    }
  }
  .abstract {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.lil-pub-button {
  background: linear-gradient(to right, $gator-pink, $gator-orange);
  color: $white;
  font-weight: bold;
  display: inline-flex;
  font-size: .75rem;
  height: 1.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-right: 0.25em;
  margin-top: 0.3em;
  border: 0px;
  &:hover {
    color: rgba(255, 255, 255, 0.65);
    background: linear-gradient(to right, $gator-orange, $gator-orange);
  }
  // font-size: $size-6;
  // margin-top: -24px;
  // margin-bottom: -6px;
}


.main > .columns > .content {
  overflow: hidden;
  a {
    color: $white;
    border-bottom: solid 2px $dark-pink;
    &:hover,
    &.is-active {
      color: $gray-text;
    }
  }
  hr {
    background-color: transparentize($blue-gray, 0.5);
  }
  strong {
    color: inherit;
  }
  h1, h2 {
    font-weight: 500;
  }
  h2 {
    color: $white;
  }
  h3 {
    color: $white;
    font-size: 1.2em;
    font-weight: 600;
    // text-transform: uppercase;
  }
  .table {
    background: transparent;
    color: $blue-gray;
    th {
      color: $blue-gray;
      border-color: $blue-gray;
    }
    tr {
      &:hover {
        background-color: transparent;
      }
    }
    td {
      border-color: transparentize($blue-gray, 0.2);
    }
  }
}

.blog {
  font-size: 1.32rem;
  line-height: 1.32;
  color: #a7bacd;
  blockquote {
    background-color: rgba(255, 255, 255, 0.07);
    border-left: 5px solid rgba(255, 255, 255, 0.2);
  }
  .highlighter-rouge {
    // padding: 1.25rem 1.5rem;
    margin-bottom: 1.5rem;
  }

  h1, h2 {
    font-weight: 600 !important;
  }
  h3 {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
  }
  h4 {
    // color: lighten(#405E82, 20%);
    color: $white;
    font-size: 1.35rem;
    text-transform: uppercase;
    font-weight: 900 !important;
  }
}

.hidden{
  display:none!important
}

.affix {
    position: fixed;
}

nav[data-toggle='toc'] {
  margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  /*nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }*/
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*nav[data-toggle='toc'] .nav .nav {
    display: block;
  }*/
}

/* sidebar */
#toc {
  // font-family: 'BS', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  /*padding-left: 20px;*/
  margin-top: 50px;
  // margin-bottom: 20px;
  // max-width: 292px;
}

#toc a:link {
  font-weight: 300;
}

#toc ul {
  margin-bottom: 14px;
}

#toc ul li {
  margin-bottom: 0px;
  list-style: none;
}


#toc .nav>li {
  margin-left: none;
}

/* all links */
#toc .nav>li>a {
    /*color: #999;*/
    /*color: #7B7263;*/
    color: $blue-gray;
    // border-left: 2px solid transparent;
    // padding: 4px 20px;
    font-size: 1.1rem;
    font-weight: 400;
    border-bottom: none;
    line-height: 1.5em;
}

/* nested links */
#toc .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    // padding-left: 36px;
    font-size: 1rem;
    margin-bottom: 6px;
}

#toc > .nav > li > a {
  font-weight: 700;
}

/* active & hover links */
#toc .nav>.active>a,
#toc .nav>li>a:hover,
#toc .nav>li>a:focus {
    color: $white;
    text-decoration: none;
    background-color: transparent;
    /*border-left-color: #563d7c;*/
    /*border-left-color: #34495e;*/
    border-left-color: $white;
    margin-left: 0px;
}
/* all active links */
#toc .nav>.active>a,
#toc .nav>.active:hover>a,
#toc .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
#toc .nav .nav>.active>a,
#toc .nav .nav>.active:hover>a,
#toc .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
#toc .nav ul.nav {
    display: none;
    // margin-left: -24px;
}
/* show active nested list */
#toc .nav>.active>ul.nav {
    display: block;
}

.toc-header {
  margin-left: 24px;
  /*color: #8B8480;*/
  /*color: #7B7263;*/
  color: #797979;
  font-style: italic;
}

.toc-hide,
.toc-expand {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(153, 153, 153, 0.4);
  padding: 3px 4px;
  /*background-color: rgba(149, 165, 166, 0.08);*/
  /*padding: 4px;*/
  /*padding-right: 10px;*/
  border-radius: 2px 2px 2px 2px;
  margin-right: 4px;
  -webkit-transition: color .1s ease-in;
  -moz-transition: color .1s ease-in;
  -ms-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

.toc-hide:hover,
.toc-expand:hover {
  background: $highlight-gradient;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -ms-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
  color: #ffffff;
  cursor: pointer;
}

.toc-hide {
  margin-left: 100px;
}

.toc-contents {
  // font-family: "SN", serif;
  color: $blue-gray;
  font-size: 18px;
}

.subtitle {
  // color: lighten(#405E82, 20%);
  // color: lighten(#45535f, 10%);
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  color: $dark-pink;
  font-size: 1.35rem;
  text-transform: uppercase;
  font-weight: 800 !important;
}

.blog-index {
  h4 {
    margin-bottom: .4em !important;
  }
  ul {
    margin-top: .5em !important;
    li:before {
      // content: '\2022';
      content: '\f111';
      font-family: 'FontAwesome';
      font-size: 0.5em;
      float: left;
      margin-top: 0.7em;
      margin-left: -2.25em;
      color: $dark-pink;
      font-weight: 900;
    }
    li {
      list-style: none;
      a {
        color: $blue-gray !important;
        border-bottom: solid 2px rgba($gray-text, 0.45) !important;
        &:hover,
        &.is-active {
          color: $white !important;
          border-bottom: solid 2px $dark-pink !important;
        }
    }
    ul {
      li:before {
        content: '';
      //   font-family: 'FontAwesome';
      //   float: left;
      //   margin-left: -1.5em;
      //   color: $blue-gray;
      //   font-weight: 900;
      }
      li {
        list-style: circle;
        }
      }
    }
  }
}
