---
layout: blog
---
{% include header.html %}

<div class="jumbotron white-background">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
        <div class="profile visible-xs visible-sm centered">
          <div class="blog-header" style="text-align: center;">
            <a href="{{ site.baseurl }}">
              <div class="first name light-grey">{{ site.first-name }}</div>
              <div class="last name light-grey">{{ site.last-name }}</div>
            </a>
          </div>
        </div>
        <div class="profile visible-md visible-lg">
          <div class="blog-header">
            <a href="{{ site.baseurl }}">
              <div class="light-grey first name">{{ site.first-name }}</div>
              <div class="light-grey last name">{{ site.last-name }}</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 visible-xs visible-sm" style="text-align: center;">
        <div class="collapsed-entypo">
          <a href="mailto:{{ site.email }}"><span class="entypo mail"></span></a>
          <a href="https://twitter.com/{{ site.twitter }}"><span class="entypo-social twitter"></span></a>
          <a href="https://github.com/{{ site.github }}"><span class="entypo-social github"></span></a>
          <a href="{{ site.location-url }}"><span class="entypo location"></span></a>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<div class="container blog">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {{ content }}
    </div>
    <div class="col-md-3">
      <nav id="toc" data-spy="affix" data-toggle="toc"><div class="toc-header" data-spy="affix"><span class="toc-contents">Contents</span></div><span class="toc-hide">Hide</span><span class="toc-expand">Expand</span></nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <span class="typo"><a href="https://github.com/heathermiller/wwwheathermiller/blob/master/{{ page.path }}">Typo? Suggest a fix.</a></span>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>



{% include footer.html %}

<script>
    $( ".toc-hide" ).click(function() {
      // $( this ).toggleClass( "gray-bg" );
      $(".toc-contents").toggleClass( "lighter" );

      if ($(this).text() == 'Hide') {
        $(this).text("Show");
      } else {
        $(this).text("Hide");
      }
      // toggle visibility of contents, and expand button
      $(".nav").toggle();
      $(".toc-expand").toggle();
    });

    $( ".toc-expand" ).click(function() {
      // $( this ).toggleClass( "gray-bg" );

      if ($(this).text() == 'Expand') {
        $(this).text("Compact");
        $(".nav").css('display', 'block');
      } else {
        $(this).text("Expand");
        $(".nav .nav").css('display', 'none');
      }
    });
</script>