---
layout: default
---
{% include header.html %}

{% include navbar.html %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="profile-pic centering">&nbsp;</div>
      </div>
      <div class="col-md-10">
        <div class="profile visible-xs visible-sm">
          <div class="centered" style="text-align: center;">
            <div class="first name">{{ site.first-name }}</div>
            <div class="last name">{{ site.last-name }}</div>
          </div>
          <div class="title centered" style="text-align: center;">{{ site.job-title }}</div>
          <div class="blurb centered" style="text-align: center;">{{ site.blurb-about-self }}</div>
        </div>
        <div class="profile visible-md visible-lg">
          <div class="first name">{{ site.first-name }}</div>
          <div class="last name">{{ site.last-name }}</div>
          <div class="title">{{ site.job-title }}</div>
          <div class="blurb">{{ site.blurb-about-self }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{ content }}
</div>

{% include footer.html %}
