---
layout: default
---
{% include header.html %}

<div class="navbar">
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="profile-pic">&nbsp;</div>
      </div>
      <div class="col-md-10">
        <div class="first name">{{ site.first-name }}</div>
        <div class="last name">{{ site.last-name }}</div>
        <div class="title">{{ site.job-title }}</div>
        <div class="blurb">{{ site.blurb-about-self }}</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{ content }}
</div>

{% include footer.html %}
